<li>
  <%= gravatar_for user%>
<<<<<<< HEAD
    <%= link_to user.name, user_path(user) %>
  
  <% if current_user.admin? && !current_user.eql?(user) %>
     | <%= link_to "Delete", user, method: :DELETE,
                    data: { confirm: "You sure delete ?" } %>
=======
  <%= link_to user.name, user_path(user) %>
  
  <% if current_user.admin? && !current_user.eql?(user) %>
    <%= link_to "delete", user_path(user), method: :DELETE %>
>>>>>>> 15298440aa10799c39e70298299644a3183c23a5
  <% end %>
</li>